Flow 3.json
[{"id":"82e820d1.31d72","type":"tab","label":"流程2","disabled":false,"info":""},{"id":"14e9cd08.f90ef3","type":"inject","z":"82e820d1.31d72","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":140,"wires":[["98fe5394.15ac2"]]},{"id":"98fe5394.15ac2","type":"function","z":"82e820d1.31d72","name":"","func":"msg.headers={\n    deviceKey:\"AEA5bmQAguiEJBrq\"\n};\nmsg.payload=\"Temperature,,69.90\";\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":360,"wires":[["aaf12b74.a05a78"]]},{"id":"aaf12b74.a05a78","type":"http request","z":"82e820d1.31d72","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DSzzCNA2/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":660,"y":420,"wires":[["12d96f45.e4b201","32c30557.2d5f6a"]]},{"id":"12d96f45.e4b201","type":"http response","z":"82e820d1.31d72","name":"","statusCode":"","headers":{},"x":760,"y":520,"wires":[]},{"id":"32c30557.2d5f6a","type":"debug","z":"82e820d1.31d72","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":660,"wires":[]}]